.led {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  width: 200px;
}

.led-switch {
  margin: 20px;
}

.led-switch button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}
